html {
  background: gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
}

body {
  font-family: 'STIXGeneral Regular', serif;
  background: white;
  margin: 0 auto;
  padding: 2.5em;
  max-width: 50em;
}

body > pre, code, q {
  font: inherit;
  font-variant: inherit;
  font-style: inherit;
  font-weight: inherit;
}

q::before,
q::after {
  content: "";
}

body > pre, code {
  background: #fe6503;
}

body > blockquote, q {
  background: #1C9BEA;
}

body > blockquote,
body > pre {
  margin-left: 0;
  margin-right: 0;
  padding: .5em;
}

body > blockquote > :first-child {
  margin-top: 0;
}

body > blockquote > :last-child {
  margin-bottom: 0;
}

body > pre {
  white-space: pre-wrap;
  font: inherit;
}

.wide_punctuation_mark {
  padding-right: .33em;
}