/* http://www.colourlovers.com/palette/3167706/Summertime_Sadness_2 */

html {
  background: gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
}

body {
  font-family: serif;
  font-size: 13pt;
  line-height: 150%;
  background: white;
  margin: 0 auto;
  padding: 2.5em;
  max-width: 40em;
  min-height: 100vh;
}

a {
  color: #FD3C03;
  text-decoration: underline;
}

a:hover, a:focus {
  text-shadow: 0 0 1em #EA9B70;
}

body > pre, code {
  background: #FEEC9A;
}

body > blockquote, q {
  background: #C1DCAF;
}

code, q {
  padding: .15em;
}

body > blockquote,
body > pre {
  margin-left: 0;
  margin-right: 0;
  padding: .5em;
}

body > blockquote > :first-child {
  margin-top: 0;
}

body > blockquote > :last-child {
  margin-bottom: 0;
}

body > pre {
  white-space: pre-wrap;
}

body > pre, code, q {
  font: inherit;
  font-variant: inherit;
  font-style: inherit;
  font-weight: inherit;
}

q::before,
q::after {
  content: "";
}

.wide_punctuation_mark {
  padding-right: .33em;
}